
@import "~bulma/sass/utilities/all";

@font-face {
  font-family: "Source Code Pro ExtraLight";
  src: url("../assets/fonts/TTF/SourceCodePro-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro Light";
  src: url("../assets/fonts/TTF/SourceCodePro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro Regular";
  src: url("../assets/fonts/TTF/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro Medium";
  src: url("../assets/fonts/TTF/SourceCodePro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro Semibold";
  src: url("../assets/fonts/TTF/SourceCodePro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro Bold";
  src: url("../assets/fonts/TTF/SourceCodePro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro Black";
  src: url("../assets/fonts/TTF/SourceCodePro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

$family-sans-serif: "Source Code Pro Regular", monospace;
$family-monospace: "Source Code Pro Regular", monospace;
$family-primary: "Source Code Pro Regular", monospace;
$body-family: "Source Code Pro Regular", monospace;

$primary: #989898;
$primary-invert: findColorInvert($primary);
$twitter: #fcff40;
$twitter-invert: findColorInvert($twitter);
$status: #fcff40;
$status-invert: findColorInvert($twitter);
$alarm: #e13c3c;
$alarm-invert: findColorInvert($alarm);
$alarm-status: #e28b8b;
$alarm-status-invert: findColorInvert($alarm-status);




// Material Design Color 'yellow' base color for
// NEW_ALARM and NEW_MITIGATION_REQUEST
$yellow: #FFEB3B;
$yellow-invert: findColorInvert($yellow);


// The following colors stem directly from the state management definition

// Inbound
$new-mitigation-req: #FFFF72;
$new-mitigation-req-invert:findColorInvert($new-mitigation-req);
$mitigation-req-declined: #C1C1C1;
$mitigation-req-declined-invert: findColorInvert($mitigation-req-declined);
$mitigation-req-accepted: #FFEB3B;
$mitigation-req-accepted-invert:findColorInvert($mitigation-req-accepted);
$mitigation-req-in-progress: #C8B900;
$mitigation-req-in-progress-invert:findColorInvert($mitigation-req-in-progress);
$mitigation-req-successful: #ADD681;
$mitigation-req-successful-invert:findColorInvert($mitigation-req-successful);

// Outbound
$new-alarm: #D62327;
$new-alarm-invert:findColorInvert($new-alarm);
$alarm-ignored: #C1C1C1;
$alarm-ignored-invert:findColorInvert($alarm-ignored);
$req-mitigation-requested: #8B0011;
$req-mitigation-requested-invert:findColorInvert($req-mitigation-requested);
$req-mitigation-declined: #c1c1C1;
$req-mitigation-declined-invert:findColorInvert($req-mitigation-declined);
$req-mitigation-accepted: #FFEB3B;
$req-mitigation-accepted-invert: findColorInvert($req-mitigation-accepted);
$req-mitigation-in-progress: #C8B900;
$req-mitigation-in-progress-invert:findColorInvert($req-mitigation-in-progress);
$req-mitigation-successful: #ADD681;
$req-mitigation-successful-invert: findColorInvert($req-mitigation-successful);

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert),
    "status":($status, $status-invert),
    "alarm":($alarm, $alarm-invert),
    "alarm-status":($alarm-status, $alarm-status-invert),
    "yellow":($yellow, $yellow-invert),
    "new-mitigation-req":($new-mitigation-req, $new-mitigation-req-invert),
    "mitigation-req-declined":($mitigation-req-declined,$mitigation-req-declined-invert),
    "mitigation-req-accepted":($mitigation-req-accepted,$mitigation-req-accepted-invert),
    "mitigation-req-in-progress":($mitigation-req-in-progress,$mitigation-req-in-progress-invert),
    "mitigation-req-successful":($mitigation-req-successful,$mitigation-req-successful-invert),
    "new-alarm":($new-alarm,$new-alarm-invert),
    "alarm-ignored":($alarm-ignored,$alarm-ignored-invert),
    "req-mitigation-requested":($req-mitigation-requested,$req-mitigation-requested-invert),
    "req-mitigation-accepted":($req-mitigation-accepted,$req-mitigation-accepted-invert),
    "req-mitigation-declined":($req-mitigation-declined,$req-mitigation-declined-invert),
    "req-mitigation-in-progress":($req-mitigation-in-progress,$req-mitigation-in-progress-invert),
    "req-mitigation-successful":($req-mitigation-successful,$req-mitigation-successful-invert)
);


// Navbar
$navbar-height: 5rem; // default 3.25

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";

